<div class="image-upload-container">
  <div class="image-previews">
    <div *ngFor="let image of images" class="image-preview">
      <img [src]="image.imageUrl" alt="Announcement Image">
      <button mat-icon-button class="delete-btn" aria-label="Delete image">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    
    <div class="upload-btn-container" *ngIf="!isUploading">
      <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/*" style="display: none">
      <button mat-stroked-button type="button" class="upload-placeholder" (click)="triggerUpload()">
        <mat-icon>add_photo_alternate</mat-icon>
        <span>ADD IMAGE</span>
      </button>
    </div>
    
    <div class="upload-loader" *ngIf="isUploading">
      <div class="spinner"></div>
      <span>Uploading...</span>
    </div>
  </div>
</div>
