<section class="landing">
  <div class="landing-content">
    <h1 class="title">
      Welcome to
      <span class="brand">EventHub</span>
    </h1>

    <p class="subtitle">
      A centralized event management system designed to plan, manage,
      and monitor institutional events across Ethiopian Electric Power.

    </p>

    <div class="actions">
      <a routerLink="/login" class="btn primary">
        Login
      </a>
      <a routerLink="/events" class="btn secondary">
        Browse Events
      </a>
    </div>
  </div>
</section>
